.articlephotos {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0px 20px;
  }
  
   .imagedesc1 {
    text-align: center;
    padding: 20px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff; 
  }
  
   .photo1 {
    width: 120px;
    max-height: 120px;
    object-fit: cover;
  } 
    
  .button {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #902e2e;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(176, 43, 43, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button:hover {
    background-color: #b30015;
    transform: scale(1.05);
  }
  
  .titletext {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 24px;
    color: #333;
  }